.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.prettierrc.json
.github/**
.git/**
node_modules/**
out/**
.tsbuildinfo
*.vsix
